.o-btn {
  min-width: 130px;
  height: 40px;
  color: $color-white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid $primary-color;
  background: $primary-color;

  &:hover {
    background: $color-white;
    color: $primary-color;
  }
}