// site-header
header(class='o-site-header o-site-header--fixed')
    div(class='o-site-header__outer')
        // o-logo
        a(href='#' class='o-logo-link')
            img(src='assets/images/logo.png' alt='Logo' class='o-logo' width='50' height='50')
        // /o-logo
// /site-header