include ./base/head

doctype html
html(lang='en')
    head
        +head()
        title Homepage

    main.p-homepage
        .container
            .row.d-flex.justify-content-center
                h1 HOMEPAGE
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aut autem doloremque ea eligendi esse est
                | exercitationem impedit incidunt ipsum maiores necessitatibus nesciunt, provident quas quisquam suscipit
                | temporibus veritatis voluptate. At, aut dolorum maxime officia reprehenderit voluptatum. Architecto atque
                | deserunt dolore earum eum excepturi hic itaque laboriosam laudantium quae quo, similique sit vero voluptas
                | voluptatibus. Assumenda delectus dicta dolore dolores ex exercitationem fugiat incidunt magni modi neque
                | nulla praesentium, quae quaerat recusandae sit veritatis vitae voluptate? Ad, assumenda consequuntur
                | doloremque, eius ex incidunt iure maxime minus neque pariatur sed totam vel voluptatem. Accusamus animi
                | asperiores aspernatur atque autem commodi corporis distinctio dolore eos labore maiores mollitia nisi
                | nulla obcaecati odit optio perspiciatis quidem, quod quos reiciendis repellat vel veniam! Amet
                | asperiores dolores enim eos esse et explicabo illum in iure, laborum magni, modi nisi omnis quos repellat
                | repudiandae saepe sequi suscipit tempore, ut! Accusantium ad amet animi asperiores cumque deserunt
                | dignissimos doloremque, dolores ducimus eius et ex exercitationem expedita fugiat hic inventore ipsum itaque
                | iusto laborum magnam modi molestiae nam nisi nobis non officiis optio placeat quaerat, repellat repellendus
                | saepe sunt tempore temporibus ullam ut vero, voluptatibus. Deserunt ea ex minima natus nihil non, odio provident
                | quae tenetur voluptatibus. Ab aut doloremque error excepturi officia quas sunt tenetur voluptas. Accusamus
                | adipisci asperiores, culpa dolor earum facere incidunt, iusto magni nihil odio placeat quam recusandae saepe. test.