include base/head

-
    var pages = [
        {label: 'Homepage', href: 'homepage.html'}
    ]

doctype html
html(lang='tr')
    head
        +head()
        title Webpack Test Boilerplate

    body
        ul(class='o-presentation__list')
            each page in pages
                li(class='o-presentation__item')
                    a(class='o-presentation__link' href=page.href)= page.label
